*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.d-flex{
  display: flex;
}

.just-center{
  justify-content: center;
}

main{
  background-color: black;
  color: white;
  overflow: auto;
}

.container{
  width: 90%;
  margin: 0 auto;
  height: calc(100vh - 75px);
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 25px;
  align-content: flex-start;
}

.utente{
  position: relative;
}

.utente img{
  padding: 10px 5px 0 5px;
}

.hover-img i{
  color: red;
}

.hover-img{
  background-color: rgba(97, 97, 97, 0.7);
  padding: 5px;
  position: absolute;
  bottom: 4px;
  left: 5px;
}