*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.d-flex{
  display: flex;
}

.just-center{
  justify-content: center;
}

.just-end{
  justify-content: flex-end;
}

.al-center{
  align-items: center;
}

.tx-center{
  text-align: center;
}

.green{
  color:#4BC800;
}

.total{
  height: 100%;
}

.margin-r{
  margin-right: 5px;
}

header{
  position: fixed;
  right: 22px;
  top: 5px;
  font-size: .8rem;
  z-index: 999;
}

header .flag{
  background-color: rgba(97, 97, 97, 0.9);
  padding: 5px;
  border-radius: 4px;
}

main{
  background-color: black;
  overflow: auto;
}

.container{
  width: 90%;
  margin: 0 auto;
  height: calc(100vh - 75px);
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 25px;
  align-content: flex-start;
}

.utente{
  position: relative;
}

.utente img{
  padding: 10px 5px 0 5px;
}

.hover-img i{
  color: red;
}

.hover-img{
  background-color: rgba(97, 97, 97, 0.7);
  padding: 5px;
  position: absolute;
  bottom: 4px;
  left: 5px;
}

footer{
  background-color: #222222;
  height: 75px;
}

footer .menu-bar{
  height: 100%;
  justify-content: space-between;
}

.menu-bar .sezione{
  width: 33%;
}

.main-carapter{
  font-size: 2rem;
}

.arrow{
  align-self: center;
  padding-left: 20px;
}

.button{
  margin-left: 20px;
}

.ds-button{
  font-size: 0.7rem;
}

.closer{
  color: red;
  background-color: #4A4A4A;
  padding: 0 20px;
}